{% case page.toc_type %}
{% when 'til' %}
<h2>Categories</h2>
<ul>
  {% assign sortedtags = site.tags | sort %}
  {% for tag in sortedtags | sort %}
    {% assign real_tag = tag | first %}
    {% assign sliced = real_tag | slice: 0,4 %}
    {% if sliced == 'til-' %}
      <li>
      <a href="{{ real_tag | prepend: '/tags/' | relative_url }}">
        {% if site.data.tags[real_tag].clear_name %}
          {{ site.data.tags[real_tag].clear_name }}
        {% else %}
          {{ site.data.tags[real_tag].name | default: real_tag }}
        {% endif %}
      </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% when 'howto' %}
{% else %}
{% endcase %}
